<h3>Find By Name</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fullName">FullName</label>
      <input type="text" class="form-control" id="fullName" required [(ngModel)]="playerfullName" name="fullName">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let player of players">
    <h4>{{player.id}} - {{player.fullName}} {{player.nationality}}</h4>
  </li>
</ul>
